@media (max-width: 600px) {
  .container {
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34 !important;
    color: white !important;
  }
  .MuiCardActions-root {
    display: flex;
    padding: 10px 0px !important;
    align-items: center;
  }
}

.MuiCardActions-root {
  display: flex;
  padding: 10px 0px !important;
  align-items: center;
}

.password {
}

label,
input {
  display: block;
  max-width: 100%;
  width: 100%;
  position: relative;
}

input {
  padding: 0.5rem 1rem;
}

.password-trigger {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  color: #666;
  z-index: 9999;
  user-select: none;
}
