.poll:hover {
  background-color: white !important;
}
.pollhover:hover {
  cursor: pointer;
  color: blue;
}
.MuiDrawer-paper {
  background-color: darkgreen !important;
}
@media (max-width: 600px) {
  .ml-5 {
    margin-left: 0px !important;
  }
  .content-size {
    font-size: 13px !important;
  }
}
